<!DOCTYPE html>
<html lang="en">
<head>
  <title>D A F T</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../static/shao.style.css">
</head>
<body>

<div class="container-fluid">

<div id="sidebar" class="hidden-xs hidden-sm">
       <header>
         Daft Magazine
       </header>

       <nav id="sidenav">
          <a href="{% url 'about' %}">about me</a>
          <div>
            <a data-toggle="collapse" href="#collapseHome" aria-expanded="false" aria-controls="collapeHome">
               <a href="<a href="http://127.0.0.1:8000/">home</a>">home</a>
            </a>
            <div class="collapse" id="collapseHome">
              <!-- <ul>
                <li><a href="/prints">print flyers</a>
                </li>
                <li><a href="/web">web design</a>
                </li>
                <li><a href="/arst">coursework</a>
                </li> -->
              </ul>
            </div>
          </div>
          <div>
            <a data-toggle="collapse" href="#collapseCode" aria-expanded="false" aria-controls="collapseCode">
               <a href="{% url 'submit' %}">submit</a>
            </a>
            <div class="collapse" id="collapseCode">
              <!-- <ul>
                <li><a href="/bridge">bridgerename</a>
                </li>
                <li><a href="/tbot">twitter bot</a>
                </li>
                <li><a href="/comp">coursework</a>
                </li>
              </ul> -->
            </div>
          </div>
          <div>
            <a data-toggle="collapse" href="#collapseCategories" aria-expanded="false" aria-controls="collapseCategories">
              categories
            </a>
            <div class="collapse" id="collapseCategories">
              <ul>
                <li><a href="/art">art</a>
                </li>
                <li><a href="{% url 'news' %}">news</a>
                </li>
                <li><a href="{% url 'advice' %}">advice</a>
                </li>
                <li><a href="/writing">writing</a>
              </ul>
            </div>
          </div>
          <a href="{% url 'contactus' %}">contact us</a>
        </nav>
      </div>

     <div id="content">
             <div class="prints">
             <p> She and I by Claire Recamier </p>
           <br>
             <p>She thinks we are very different. I find us quite similar.
She takes an hour to get ready before school. I take fifteen minutes. She cares about her appearance. I pretend not to.
Despite often being in the company of her two younger brothers, she always feels lonely. I am an only child. I am often alone, yet never feel lonely.
She loves pastel colors. She owns several pairs of bright coral, mint, tiffany blue, and yellow jeans. I am not allowed to wear pastel colored jeans, because she has claimed the trend as hers. I don’t care. I despise both pastel colors and jeans. On her I don’t mind them.
She always feels bored. I pride myself on never feeling bored. I claim that only boring people get bored. She is the only exception I know.
Some people cannot live without her phone. She is one such person. She loves her phone, possibly even more than she likes me. She constantly types away at it, sometimes even when she doesn’t even need to. Whenever she is with me and I am talking and she is on the phone, I want to slap her. But I never do.
She loves painting her nails. I rarely ever do my nails. Most of the nail polish I own comes from leftover colors she got tired of.
We both love music, but completely different types. Rarely do we ever like the same song. She claims my faster-paced, more hip- hop style playlists scare her. Her melodious, slower pop or country-esque songs bore me to sleep.
She respects people who are true to their word and true to themselves. So do I. She thinks the ultimate sign of weakness is changing to please someone else, even when this could be considered a positive thing. For instance, if you are her friend, and you have a certain characteristic that she hates, she would not want you to change in order to please her. She hates weak people. We both do.
Her appetite is like a bird’s; mine is more like a bear’s.
I am not naturally intelligent the way she is. I have a good memory, which makes studying easier. She is born with uncommon intelligence, but chooses not to use it. She never does any work at school, because she doesn’t want to, not because she can’t. This frustrates teachers to no end. She shocked everyone when she got into one of the best specialized high schools in NYC, because no one had supposed she even had a brain. She simply took the test, without any preparation, and got in, which is almost unheard of.
I think hairstyling is a waste of time. She loves doing her hair. She spends copious amounts of time on it, learning complex new hairstyles off of the internet. She likes to practice them on me. I never do anything with my hair. The time she puts into her hair is the time I put into my homework.
Both of us give very good advice. Neither of us ever actually follows our own advice.
	When we first met in third grade, she constantly lied about herself in order to appear more interesting, so others would be friends with her. She did crazy, reckless things. Once, my fellow third graders had tried to poison a certain boy, (our only justification was that he was annoying) by feeding him candy with the silicone packets in snacks. I watched, but she was the mastermind behind the plot; the one across the room, hiding behind the table, throwing the poison, aiming for the mouth. She did a terrible job (she has a terrible aim). I clearly remember the victim noticing her and innocently asking her what she was doing. At any rate, the plan failed, as he is alive today. We both often remember and laugh about the experience. I still tease her about how mean she used to be. She still is. She hasn’t really changed. Neither have I. Neither has our friendship, still going strong since the third grade. Neither of us understands why we are even friends- but we are.

             </p><br>
           </div>
         <!-- </div> -->





</div>

</body>
</html>
